language: ruby
rvm:
  - 1.9.3-p551
  - 2.0.0-p598
  - 2.1.5
before_install:
  - sudo apt-get install -y libmp3lame0
  - cd /usr/lib/x86_64-linux-gnu && sudo ln -s libmp3lame.so.0.0.0 libmp3lame.so
script:
  - bundle exec rake compile
  - bundle exec rake spec
